@import "helpers/variables";
@import "helpers/colors";
@import "helpers/placeholder-classes";



:root {
  font-size: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  cursor: default;
}

body {
  height: 1200px;

  background-color: #1d1f21;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button {
  background-image: none;
  border: none;
  outline: none;

  cursor: pointer;
}



/* -------------------------------- NAVBAR -------------------------------- */
.nav-link {
  display: inline-block;

  cursor: pointer;
}

#navbar-top {
  z-index: 30;
  position: fixed;
  top: 0;

  width: 100%;
  height: 1.25rem;
  padding: 0px $margin-main;

  background-color: white;
  border-bottom: 1px solid black;

  -webkit-user-select: none;
  user-select: none;
}

#nav-link-list-top {
  position: absolute;
  @extend %vertical-centered;
  right: $margin-main;

  width: auto;

  font-family: sans-serif;
  font-size: 0.6rem;
  color: black;
}

.nav-link-top-margin {
  margin-right: 0.8rem;
}

#login-icon {
  position: relative;
  transform: translateY(-6%);

  font-size: 0.65rem;
}

#cart-icon {
  position: relative;
  transform: translateY(-6%);

  font-size: 0.65rem;
}

#navbar-bottom {
  z-index: 30;
  position: fixed;
  top: 1.25rem;

  width: 100%;
  height: 2rem;
  padding-left: $margin-main;

  background-color: white;
  border-bottom: 1px solid black;

  -webkit-user-select: none;
  user-select: none;
}

#nav-link-list-bottom {
  position: absolute;
  @extend %vertical-centered;

  font-family: sans-serif;
  font-size: 0.6rem;
  color: black;
}

.nav-link-bottom-margin {
  margin-right: 0.4rem;
}

#search-bar-container {
  position: absolute;
  right: $margin-main;

  width: 25%;
  height: 100%;

  /* border: 1px solid red; */
}

#search-icon {
  position: relative;
  left: 0.2em;
  transform: translateY(40%);

  font-size: 0.8rem;
}

#search-bar {
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  position: absolute;
  @extend %vertical-centered;

  width: 100%;
  height: 1.25rem;
  padding-left: 1.15rem;

  font-size: 0.6rem;

  border: none;
  border: 1px solid black;
  outline: none;

  cursor: text;
}

#navbar-placeholder {
  z-index: 10;
  position: relative;
  top: 0;

  width: 100%;
  height: 3.25rem;

  background-color: yellow;
  border-bottom: 1px solid red;
}



/* ---------------------------- BANNER SECTION ---------------------------- */
#home-banner {
  position: relative;

  width: 100%;
  height: $section-height-lg;

  text-align: center;

  background-color: lightGray;
  background-image: url("../images/shoe-pennyboard.jpg");
  background-size: cover;
  background-position: center 35%;
}

#home-promotion-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;

  margin: auto;

  font-family: sans-serif;
  color: white;

  /* text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */

  text-shadow: 1.5px 1.5px 1px black;

  /* border: 1px dashed black; */
}

#home-promotion-top {
  font-size: 2rem;
}

#home-promotion-bottom {
  font-size: 0.75rem;
}



/* --------------------------- CATEGORY SECTION --------------------------- */
#category-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: $margin-main;
  grid-row-gap: $margin-sm;

  position: relative;

  width: 100%;
  height: $section-height-lg;
  padding: $margin-main $margin-lg;

  background-color: white;
}

.category-tile {
  grid-column: span 1;

  height: 100%;

  background-color: lightGray;
  border: 1px solid black;
}

.category-tile-title {
  display: inline-block;

  position: relative;
  top: 1rem;
  left: 1rem;

  font-family: sans-serif;
  font-size: 0.75rem;
  color: white;

  /* border: 1px dashed red; */
}

#category-tile-men {
  background-image: url("../images/male-model-crop.png");
  background-size: cover;
  background-position: center;
}

#category-tile-women {
  background-image: url("../images/female-model-crop.png");
  background-size: cover;
  background-position: center;
}

#category-tile-children {
  background-image: url("../images/child-model.jpg");
  background-size: cover;
  background-position: center;
}



/* --------------------------- CAMPAIGN SECTION --------------------------- */
#campaign-section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;

  position: relative;

  height: $section-height-lg;
  width: 100%;

  background-color: white;
}

.campaign-tile {
  display: flex;
  grid-column: span 1;
  justify-content: center;
  align-items: center;

  height: 100%;

  background-color: lightGray;
}

.campaign-tile-inner {
  position: relative;
  top: 15%;

  height: auto;

  text-align: center;
}

#campaign-tile-one {
  background-image: url("../images/shoe-graffiti-close.jpg");
  background-size: cover;
  background-position: center bottom;
}

#campaign-tile-two {
  background-image: url("../images/shoe-blur-close.jpg");
  background-size: cover;
  background-position: center bottom;
}

.campaign-tile-header {
  margin-bottom: $margin-sm;

  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;

  text-shadow: 1.5px 1.5px 1px black;
}

.campaign-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  width: 6rem;
  height: 2rem;

  font-family: sans-serif;
  font-size: 0.7rem;
  font-weight: normal;
  color: white;

  background-color: black;
  border: 1px solid white;
}



/* ------------------------- POPULAR ITEM SECTION ------------------------- */
#popular-item-section-container {
  position: relative;

  height: auto;
  width: 100%;
  padding: $margin-main;

  background-color: $light-gray;
}

#popular-item-carousel {
  display: flex;
  align-items: center;

  height: auto;
  padding: 0px $margin-main;
}

#popular-item-header {
  margin-bottom: $margin-sm;

  text-align: center;
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;

  /* border: 1px solid red; */
}

#popular-item-header-2 {
  margin-top: $margin-sm;

  text-align: center;
  font-family: sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  color: black;

  /* border: 1px solid red; */
}

#popular-item-carousel-inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: $margin-sm;

  width: 100%;
  height: 11rem;

  /* border: 1px solid red; */
}

#arrow-left-icon {
  position: absolute;
  left: $margin-main;

  font-size: 1rem;

  cursor: pointer;
}

#arrow-right-icon {
  position: absolute;
  right: $margin-main;

  font-size: 1rem;

  cursor: pointer;
}

.carousel-tile {
  grid-column: span 1;

  height: 100%;

  background-color: lightGray;
  background-size: cover;
  background-position: center bottom;
  border: 1px solid black;
}

#car-tile-1 {
  background-image: url("../images/men-pants-dark.jpg");
}

#car-tile-2 {
  background-image: url("../images/women-pants-tan.jpg");
}

#car-tile-3 {
  background-image: url("../images/men-pants-blue.jpg");
}

#car-tile-4 {
  background-image: url("../images/women-pants-dark.jpg");
}

#car-tile-5 {
  background-image: url("../images/men-pants-gray.jpg");
}



/* ---------------------------- FEATURE SECTION ---------------------------- */
#feature-section-container {
  position: relative;

  height: $section-height-lg;
  width: 100%;
  padding: 0 $margin-lg;

  background-color: white;
  background-image: url("../images/shoe-urban.jpg");
  background-size: cover;
  background-position: center 70%;
}

#feature-tile {
  display: flex;
  align-items: center;

  height: 100%;
}

#feature-tile-header {
  margin-bottom: $margin-sm;

  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;

  text-shadow: 1.5px 1.5px 1px black;
}

#feature-button-top {
  margin-bottom: $margin-x-sm;
}

.feature-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 6rem;
  height: 2rem;

  font-family: sans-serif;
  font-size: 0.7rem;
  font-weight: normal;
  color: white;

  background-color: black;
  border: 1px solid white;
}

.button-arrow {
  margin-left: 0.4rem;
  font-size: 0.8rem;
}



/* --------------------------- REGISTER SECTION --------------------------- */
#register-section-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: $margin-sm;

  height: auto;
  width: 100%;
  padding: $margin-main;

  background-color: black;
}

#register-text {
  grid-column: span 3;

  height: 2.4rem;

  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

#register-email-container {
  grid-column: span 2;

  height: 2.4rem;

  text-align: right;
}

#register-email-input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  display: block;

  width: 100%;
  height: 2.4rem;
  padding-left: 1.15rem;
  padding-right: 3.55rem;

  font-size: 0.8rem;
  font-weight: 200;

  border: none;
  outline: none;

  cursor: text;
}

#register-email-submit {
  z-index: 20;
  position: relative;
  top: -2.4rem;

  width: 2.4rem;
  height: 2.4rem;

  color: white;

  background-color: #224361;
}

.submit-arrow {
  font-size: 0.8rem;
}



/* ---------------------------- FOOTER SECTION ---------------------------- */
#footer-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: $margin-sm;
  grid-row-gap: $margin-sm;

  position: relative;

  height: auto;
  width: 100%;
  padding: $margin-main $margin-lg;

  background-color: $light-gray;
}

.footer-tile {
  grid-column: span 1;

  height: auto;

  font-family: sans-serif;
  color: black;
}

.footer-tile-header {
  margin-bottom: $margin-sm;

  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
}

.footer-tile-list-item {
  margin-bottom: $margin-x-sm;

  font-size: 0.6rem;
}



/* --------------------------- COPYRIGHT SECTION --------------------------- */
#copyright-section-container {
  position: relative;

  height: auto;
  width: 100%;
  padding: $margin-sm;

  text-align: center;

  background-color: black;
}

#copyright-text {
  font-family: sans-serif;
  font-size: 0.5rem;
  color: white;
}





/* -------------------------- MEDIA QUERY <= 1000 -------------------------- */
@media screen and (max-width: 1000px) {
  :root {
    font-size: 20px;
  }
}

/* -------------------------- MEDIA QUERY <= 800 -------------------------- */
@media screen and (max-width: 800px) {
  #campaign-section-container {
    height: 40rem;
  }

  .campaign-tile {
    grid-column: span 2;
  }

  #register-text {
    grid-column: span 5;
  }

  #register-email-container {
    grid-column: span 5;
  }

  #footer-section-container {
    padding: $margin-main;
  }

  .footer-tile {
    grid-column: span 3;
  }
}
