@import "helpers/variables";
@import "helpers/colors";
@import "helpers/placeholder-classes";



:root {
  font-size: 24px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  cursor: default;
}

body {
  height: 1200px;

  background-color: #1d1f21;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button {
  background-image: none;
  border: none;
  outline: none;

  cursor: pointer;
}



/* -------------------------------- NAVBAR -------------------------------- */
.nav-link {
  display: inline-block;

  cursor: pointer;
}

#navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 50;
  position: fixed;
  top: 0;

  width: 6.5rem;
  height: 3.25rem;
  padding: 0px $margin-main;

  font-family: serif;
  font-size: 1.8rem;
  color: black;

  background-color: white;
  border-right: 1px solid $medium-gray;
  border-bottom: 1px solid $medium-gray;

  -webkit-user-select: none;
  user-select: none;
}

#navbar-top {
  z-index: 30;
  position: fixed;
  top: 0;

  width: 100%;
  height: 1.25rem;
  padding: 0px $margin-main;

  background-color: white;
  border-bottom: 1px solid $medium-gray;

  -webkit-user-select: none;
  user-select: none;
}

#hamburger-menu {
  display: none;
}

#nav-link-list-top {
  position: absolute;
  @extend %vertical-centered;
  right: $margin-main;

  width: auto;

  font-family: $font-stack-secondary;
  font-size: 0.5rem;
  font-weight: $font-secondary-light;
  text-transform: uppercase;
  color: black;

  /* border: 1px dashed red; */
}

.nav-link-top-margin {
  margin-right: $margin-sm;
}

#login-icon {
  position: relative;
  transform: translateY(-6%);

  font-size: $font-icon;
}

#cart-icon {
  position: relative;
  transform: translateY(-6%);

  font-size: $font-icon;
}

#navbar-bottom {
  z-index: 30;
  position: fixed;
  top: 1.25rem;

  width: 100%;
  height: 2rem;

  padding-left: $margin-sm + 6.5;

  background-color: white;
  border-bottom: 1px solid $medium-gray;

  -webkit-user-select: none;
  user-select: none;
}

#nav-link-list-bottom {
  position: absolute;
  @extend %vertical-centered;

  font-family: $font-stack-main;
  font-size: $font-sm;
  font-weight: $font-main-normal;
  text-transform: uppercase;
  color: black;
}

.nav-link-bottom-margin {
  margin-right: $margin-x-sm;
}

#search-bar-container {
  position: absolute;
  right: $margin-main;

  width: 25%;
  height: 100%;
}

#search-icon {
  position: relative;
  left: 0.2em;
  transform: translateY(40%);

  font-size: $font-icon;
}

#search-bar {
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  position: absolute;
  @extend %vertical-centered;

  width: 100%;
  height: 1.25rem;
  padding-left: 1.15rem;

  font-family: $font-stack-main;
  font-size: $font-sm;
  font-weight: $font-main-normal;

  border: none;
  border: 1px solid black;
  outline: none;

  cursor: text;
}

#navbar-placeholder {
  z-index: 10;
  position: relative;
  top: 0;

  width: 100%;
  height: 3.25rem;

  background-color: white;
  border-bottom: 1px solid white;
}



/* ---------------------------- BANNER SECTION ---------------------------- */
#home-banner {
  position: relative;

  width: 100%;
  height: $section-height-lg;

  text-align: center;

  background-color: lightGray;
  background-image: url("../images/shoe-pennyboard.jpg");
  background-size: cover;
  background-position: center 35%;
}

#home-promotion-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;

  margin: auto;
  padding: $margin-main;

  color: white;
}

#home-promotion-top {
  font-family: $font-stack-main;
  font-size: 2rem;
  font-weight: $font-main-bold;
  text-transform: uppercase;
  text-shadow: 0rem 0rem 0.25rem black;
}

#promotion-text-grouped {
  white-space: nowrap;
}

#home-promotion-bottom {
  padding: 0px $margin-sm;

  font-family: $font-stack-secondary;
  font-size: $font-h2;
  font-weight: $font-secondary-normal;
  text-shadow: 0rem 0.0rem 0.1rem black;
}



/* --------------------------- CATEGORY SECTION --------------------------- */
#category-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: $margin-main;
  grid-row-gap: $margin-sm;

  position: relative;

  width: 100%;
  height: $section-height-lg;
  padding: $margin-main $margin-lg;

  background-color: white;
}

.category-tile {
  grid-column: span 1;

  height: 100%;

  background-size: cover;
  background-position: center;
  background-color: lightGray;
}

.category-tile-title {
  display: inline-block;

  position: relative;
  top: $margin-sm;
  left: $margin-sm;

  font-family: $font-stack-main;
  font-size: $font-icon;
  font-weight: $font-main-normal;
  text-transform: uppercase;
  text-shadow: 0 0 0.1rem black;
  letter-spacing: 0.2rem;
  color: white;

  -webkit-user-select: none;
  user-select: none;
}

#category-tile-men {
  background-image: url("../images/male-model-crop.png");
}

#category-tile-women {
  background-image: url("../images/female-model-crop.png");
}

#category-tile-children {
  background-image: url("../images/child-model.jpg");
}



/* --------------------------- CAMPAIGN SECTION --------------------------- */
#campaign-section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;

  position: relative;

  height: $section-height-lg;
  width: 100%;

  background-color: white;
}

.campaign-tile {
  display: flex;
  grid-column: span 1;
  justify-content: flex-start;

  height: auto;
  padding: 0 $margin-main;

  background-color: lightGray;
}

.campaign-tile-inner {
  position: relative;
  top: auto;
  bottom: 0;

  width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: $margin-lg;

  text-align: center;
}

#campaign-tile-one {
  background-image: url("../images/shoe-graffiti-close.jpg");
  background-size: cover;
  background-position: center bottom;
}

#campaign-tile-two {
  background-image: url("../images/shoe-blur-close.jpg");
  background-size: cover;
  background-position: center bottom;
}

.campaign-tile-header {
  font-family: $font-stack-main;
  font-size: $font-h2;
  font-weight: $font-main-bold;
  text-transform: uppercase;
  text-shadow: 0 0 0.15rem black;
  color: white;
}

.campaign-tile-sub-header {
  margin-bottom: $margin-sm;

  font-family: $font-stack-secondary;
  font-size: $font-icon;
  font-weight: $font-secondary-light;
  text-shadow: 0 0 0.1rem black;
  color: white;
}

.campaign-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  width: 6.5rem;
  height: 2rem;

  font-family: $font-stack-secondary;
  font-size: 0.7rem;
  font-weight: $font-secondary-light;
  text-transform: uppercase;
  color: white;

  background-color: black;
  border: 1px solid white;
}



/* ------------------------- POPULAR ITEM SECTION ------------------------- */
#popular-item-section-container {
  position: relative;

  height: auto;
  width: 100%;
  padding: $margin-main;

  /* background-color: $light-gray; */
  background-color: white;
}

#popular-item-carousel {
  display: flex;
  align-items: center;

  height: auto;
  padding: 0px $margin-main;
}

#popular-item-header {
  margin-bottom: $margin-sm;

  font-family: $font-stack-main;
  font-size: $font-h2;
  font-weight: $font-main-normal;
  text-align: center;
  text-transform: uppercase;
  color: black;

  /* border: 1px solid red; */
}

#popular-item-carousel-inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: $margin-sm;

  width: 100%;
  height: 11rem;

  /* border: 1px solid red; */
}

#arrow-left-icon {
  position: absolute;
  left: $margin-main;

  font-size: 1rem;

  cursor: pointer;
}

#arrow-right-icon {
  position: absolute;
  right: $margin-main;

  font-size: 1rem;

  cursor: pointer;
}

.carousel-tile {
  grid-column: span 1;

  height: 100%;

  background-color: lightGray;
  background-size: cover;
  background-position: center bottom;
  border: 1px solid black;

  /* background-color: white; */
  background-color: $light-gray;
}

#popular-item-page-select {
  margin-top: $margin-sm;

  font-family: $font-stack-secondary;
  font-size: $font-icon;
  text-align: center;


  /* border: 1px solid red; */
}

.popular-item-page-number {
  display: inline-block;

  font-weight: $font-secondary-light;
  color: $medium-gray;

  cursor: pointer;
}

.popular-item-page-selected {
  font-weight: $font-secondary-normal;
  color: black;
}

/* #car-tile-1 {
  background-image: url("../images/men-pants-dark.jpg");
}

#car-tile-2 {
  background-image: url("../images/women-pants-tan.jpg");
}

#car-tile-3 {
  background-image: url("../images/men-pants-blue.jpg");
}

#car-tile-4 {
  background-image: url("../images/women-pants-dark.jpg");
}

#car-tile-5 {
  background-image: url("../images/men-pants-gray.jpg");
} */



/* ---------------------------- FEATURE SECTION ---------------------------- */
#feature-section-container {
  position: relative;

  height: $section-height-lg;
  width: 100%;
  padding: 0 $margin-lg;

  background-color: white;
  background-image: url("../images/shoe-urban.jpg");
  background-size: cover;
  background-position: center 70%;
}

#feature-tile {
  display: flex;
  align-items: center;

  height: 100%;
}

#feature-tile-header {
  font-family: $font-stack-main;
  font-size: $font-h2;
  font-weight: $font-main-bold;
  text-transform: uppercase;
  text-shadow: 0 0 0.15rem black;
  color: white;
}

#feature-tile-sub-header {
  width: 378px;
  margin-bottom: $margin-sm;

  font-family: $font-stack-secondary;
  font-size: $font-icon;
  font-weight: $font-secondary-light;
  text-shadow: 0 0 0.1rem black;
  color: white;
}

#feature-button-top {
  margin-bottom: $margin-x-sm;
}

.feature-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 6.5rem;
  height: 2rem;

  font-family: $font-stack-secondary;
  font-size: 0.7rem;
  font-weight: $font-secondary-light;
  text-transform: uppercase;
  color: white;

  background-color: black;
  border: 1px solid white;
}

.button-arrow {
  margin-left: 0.4rem;
  font-size: $font-icon;
}



/* --------------------------- REGISTER SECTION --------------------------- */
#register-section-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: $margin-sm;

  height: auto;
  width: 100%;
  padding: $margin-main;

  background-color: black;
}

#register-text {
  grid-column: span 3;

  height: auto;

  font-family: $font-stack-main;
  font-size: 1rem;
  font-weight: $font-main-bold;
  color: white;

  white-space: pre;
}

#register-discount {
  color: $discount-red;
}

#register-email-container {
  grid-column: span 2;

  height: 2.5rem;

  text-align: right;
}

#register-email-input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  display: block;

  width: 100%;
  height: 2.5rem;
  padding-left: 1.15rem;
  padding-right: 3.55rem;

  font-family: $font-stack-secondary;
  font-size: $font-icon;
  font-weight: $font-secondary-light;

  border: none;
  outline: none;

  cursor: text;
}

#register-email-submit {
  z-index: 20;
  position: relative;
  top: -2.5rem;

  width: 2.5rem;
  height: 2.5rem;

  color: white;

  /* background-color: #224361; */
  background-color: $discount-red;
}

.submit-arrow {
  font-size: $font-icon;
}



/* ---------------------------- FOOTER SECTION ---------------------------- */
#footer-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: $margin-sm;
  grid-row-gap: $margin-sm;

  position: relative;

  height: auto;
  width: 100%;
  padding: $margin-main $margin-lg;

  background-color: white;
}

.footer-tile {
  grid-column: span 1;

  height: auto;

  color: black;
}

.footer-tile-header {
  margin-bottom: $margin-sm;

  font-family: $font-stack-main;
  font-size: $font-icon;
  font-weight: $font-main-bold;
  color: black;
}

.footer-tile-list-item {
  margin-bottom: $margin-x-sm;
  padding-left: 0.2rem;

  font-family: $font-stack-secondary;
  font-size: $font-sm;
  font-weight: $font-secondary-light;
}



/* --------------------------- COPYRIGHT SECTION --------------------------- */
#copyright-section-container {
  position: relative;

  height: auto;
  width: 100%;
  padding: $margin-sm;

  text-align: center;

  background-color: black;
}

#copyright-text {
  font-family: $font-stack-main;
  font-size: 0.5rem;
  font-weight: $font-main-normal;
  color: white;
}





/* -------------------------- MEDIA QUERY <= 1000 -------------------------- */
@media screen and (max-width: 1000px) {
  :root {
    font-size: 20px;
  }

  #feature-tile-sub-header {
    width: 316px;
  }
}



/* -------------------------- MEDIA QUERY <= 800 -------------------------- */
@media screen and (max-width: 800px) {
  #navbar-logo {
    left: 0;
    right: 0;

    margin: auto;

    /* border-left: 1px solid $medium-gray; */
    border-right: none;
  }

  #navbar-top {
    height: 3.25rem;
  }

  #hamburger-menu {
    display: block;

    z-index: 30;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: $margin-sm;

    width: 27px;

    /* cursor: pointer; */
  }

  .hamburger-bar {
    position: relative;
    left: 0;
    right: 0;

    width: 25px;
    height: 2px;
    margin: 6px auto;

    color: black;

    border-radius: 10px;
    background-color: black;

    /* cursor: pointer;
    transition: transform 300ms ease-in-out, width 300ms ease-in-out, opacity 300ms ease-in-out; */
  }

  #nav-link-list-top {
    right: $margin-sm;
  }

  #login-icon {
    transform: translateY(0);

    font-size: 1rem;
  }

  #cart-icon {
    transform: translateY(0);

    font-size: 1rem;
  }

  .nav-link {
    display: none;
  }

  #navbar-bottom {
    display: none;
  }

  .category-tile-title {
    left: $margin-x-sm;

    writing-mode: tb-rl;
    text-orientation: upright;
    letter-spacing: normal;
  }

  #category-section-container {
    grid-column-gap: $margin-sm;

    padding: $margin-main $margin-main;
  }

  #campaign-section-container {
    height: 40rem;
  }

  .campaign-tile {
    grid-column: span 2;
  }

  #register-text {
    grid-column: span 5;
  }

  #register-email-container {
    grid-column: span 5;
  }

  .footer-tile {
    grid-column: span 3;
  }
}



/* -------------------------- MEDIA QUERY <= 600 -------------------------- */
@media screen and (max-width: 600px) {
  #home-promotion-container {
    padding: $margin-sm;
  }

  #home-promotion-top {
    font-size: 1.8rem;
  }

  #home-promotion-bottom {
    font-size: 1.125rem;
  }

  #category-section-container {
    grid-column-gap: 2px;

    padding: $margin-main $margin-sm;
  }

  #popular-item-carousel {
    padding: 0px $margin-sm;
  }

  #arrow-left-icon {
    left: $margin-sm;
  }

  #arrow-right-icon {
    right: $margin-sm;
  }

  #feature-section-container {
    padding: 0 $margin-main;
  }

  #register-section-container {
    padding: $margin-main $margin-sm;
  }

  #footer-section-container {
    padding: $margin-main;
  }
}



/* -------------------------- MEDIA QUERY <= 418 -------------------------- */
@media screen and (max-width: 418px) {
  #register-text {
    white-space: normal;
  }

  .register-text-grouped {
    white-space: nowrap;
  }
}



/* -------------------------- MEDIA QUERY <= 401 -------------------------- */
@media screen and (max-width: 401px) {
  #feature-tile-sub-header {
    width: 188px;
  }
}



/* -------------------------- MEDIA QUERY <= 350 -------------------------- */
@media screen and (max-width: 350px) {
  #promotion-text-grouped {
    white-space: normal;
  }
}
