#search-bar, #nav-link-list-bottom, #nav-link-list-top {
  top: 50%;
  transform: translateY(-50%);
}

:root {
  font-size: 24px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

body {
  height: 1200px;
  background-color: #1d1f21;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button {
  background-image: none;
  border: none;
  outline: none;
  cursor: pointer;
}

/* -------------------------------- NAVBAR -------------------------------- */
.nav-link {
  display: inline-block;
  cursor: pointer;
}

#navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  position: fixed;
  top: 0;
  width: 6.5rem;
  height: 3.25rem;
  padding: 0px 1.75rem;
  font-family: serif;
  font-size: 1.8rem;
  color: black;
  background-color: white;
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  -webkit-user-select: none;
  user-select: none;
}

#navbar-top {
  z-index: 30;
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.25rem;
  padding: 0px 1.75rem;
  background-color: white;
  border-bottom: 1px solid #d7d7d7;
  -webkit-user-select: none;
  user-select: none;
}

#hamburger-menu {
  display: none;
}

#nav-link-list-top {
  position: absolute;
  right: 1.75rem;
  width: auto;
  font-family: "Roboto", sans-serif;
  font-size: 0.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
  /* border: 1px dashed red; */
}

.nav-link-top-margin {
  margin-right: 0.875rem;
}

#login-icon {
  position: relative;
  transform: translateY(-6%);
  font-size: 0.8rem;
}

#cart-icon {
  position: relative;
  transform: translateY(-6%);
  font-size: 0.8rem;
}

#navbar-bottom {
  z-index: 30;
  position: fixed;
  top: 1.25rem;
  width: 100%;
  height: 2rem;
  padding-left: 7.375rem;
  background-color: white;
  border-bottom: 1px solid #d7d7d7;
  -webkit-user-select: none;
  user-select: none;
}

#nav-link-list-bottom {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 0.6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
}

.nav-link-bottom-margin {
  margin-right: 0.4375rem;
}

#search-bar-container {
  position: absolute;
  right: 1.75rem;
  width: 25%;
  height: 100%;
}

#search-icon {
  position: relative;
  left: 0.2em;
  transform: translateY(40%);
  font-size: 0.8rem;
}

#search-bar {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  position: absolute;
  width: 100%;
  height: 1.25rem;
  padding-left: 1.15rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.6rem;
  font-weight: 400;
  border: none;
  border: 1px solid black;
  outline: none;
  cursor: text;
}

#navbar-placeholder {
  z-index: 10;
  position: relative;
  top: 0;
  width: 100%;
  height: 3.25rem;
  background-color: yellow;
  border-bottom: 1px solid red;
}

/* ---------------------------- BANNER SECTION ---------------------------- */
#home-banner {
  position: relative;
  width: 100%;
  height: 20rem;
  text-align: center;
  background-color: lightGray;
  background-image: url("../images/shoe-pennyboard.jpg");
  background-size: cover;
  background-position: center 35%;
}

#home-promotion-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  padding: 1.75rem;
  color: white;
}

#home-promotion-top {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0rem 0rem 0.25rem black;
}

#promotion-text-grouped {
  white-space: nowrap;
}

#home-promotion-bottom {
  padding: 0px 0.875rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-shadow: 0rem 0rem 0.1rem black;
}

/* --------------------------- CATEGORY SECTION --------------------------- */
#category-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.75rem;
  grid-row-gap: 0.875rem;
  position: relative;
  width: 100%;
  height: 20rem;
  padding: 1.75rem 3.5rem;
  background-color: white;
}

.category-tile {
  grid-column: span 1;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: lightGray;
}

.category-tile-title {
  display: inline-block;
  position: relative;
  top: 0.875rem;
  left: 0.875rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0 0 0.1rem black;
  letter-spacing: 0.2rem;
  color: white;
  -webkit-user-select: none;
  user-select: none;
}

#category-tile-men {
  background-image: url("../images/male-model-crop.png");
}

#category-tile-women {
  background-image: url("../images/female-model-crop.png");
}

#category-tile-children {
  background-image: url("../images/child-model.jpg");
}

/* --------------------------- CAMPAIGN SECTION --------------------------- */
#campaign-section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  position: relative;
  height: 20rem;
  width: 100%;
  background-color: white;
}

.campaign-tile {
  display: flex;
  grid-column: span 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: lightGray;
}

.campaign-tile-inner {
  position: relative;
  top: 15%;
  height: auto;
  text-align: center;
}

#campaign-tile-one {
  background-image: url("../images/shoe-graffiti-close.jpg");
  background-size: cover;
  background-position: center bottom;
}

#campaign-tile-two {
  background-image: url("../images/shoe-blur-close.jpg");
  background-size: cover;
  background-position: center bottom;
}

.campaign-tile-header {
  margin-bottom: 0.875rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0 0 0.15rem black;
  color: white;
}

.campaign-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 6rem;
  height: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  font-weight: 300;
  color: white;
  background-color: black;
  border: 1px solid white;
}

/* ------------------------- POPULAR ITEM SECTION ------------------------- */
#popular-item-section-container {
  position: relative;
  height: auto;
  width: 100%;
  padding: 1.75rem;
  background-color: #efefef;
}

#popular-item-carousel {
  display: flex;
  align-items: center;
  height: auto;
  padding: 0px 1.75rem;
}

#popular-item-header {
  margin-bottom: 0.875rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: black;
  /* border: 1px solid red; */
}

#popular-item-header-2 {
  margin-top: 0.875rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  color: black;
  /* border: 1px solid red; */
}

#popular-item-carousel-inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0.875rem;
  width: 100%;
  height: 11rem;
  /* border: 1px solid red; */
}

#arrow-left-icon {
  position: absolute;
  left: 1.75rem;
  font-size: 1rem;
  cursor: pointer;
}

#arrow-right-icon {
  position: absolute;
  right: 1.75rem;
  font-size: 1rem;
  cursor: pointer;
}

.carousel-tile {
  grid-column: span 1;
  height: 100%;
  background-color: lightGray;
  background-size: cover;
  background-position: center bottom;
  border: 1px solid black;
}

#car-tile-1 {
  background-image: url("../images/men-pants-dark.jpg");
}

#car-tile-2 {
  background-image: url("../images/women-pants-tan.jpg");
}

#car-tile-3 {
  background-image: url("../images/men-pants-blue.jpg");
}

#car-tile-4 {
  background-image: url("../images/women-pants-dark.jpg");
}

#car-tile-5 {
  background-image: url("../images/men-pants-gray.jpg");
}

/* ---------------------------- FEATURE SECTION ---------------------------- */
#feature-section-container {
  position: relative;
  height: 20rem;
  width: 100%;
  padding: 0 3.5rem;
  background-color: white;
  background-image: url("../images/shoe-urban.jpg");
  background-size: cover;
  background-position: center 70%;
}

#feature-tile {
  display: flex;
  align-items: center;
  height: 100%;
}

#feature-tile-header {
  margin-bottom: 0.875rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0 0 0.15rem black;
  color: white;
}

#feature-button-top {
  margin-bottom: 0.4375rem;
}

.feature-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 6rem;
  height: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  font-weight: 300;
  color: white;
  background-color: black;
  border: 1px solid white;
}

.button-arrow {
  margin-left: 0.4rem;
  font-size: 0.8rem;
}

/* --------------------------- REGISTER SECTION --------------------------- */
#register-section-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0.875rem;
  height: auto;
  width: 100%;
  padding: 1.75rem;
  background-color: black;
}

#register-text {
  grid-column: span 3;
  height: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  white-space: pre;
}

#register-discount {
  color: #be332d;
}

#register-email-container {
  grid-column: span 2;
  height: 2.5rem;
  text-align: right;
}

#register-email-input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding-left: 1.15rem;
  padding-right: 3.55rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  border: none;
  outline: none;
  cursor: text;
}

#register-email-submit {
  z-index: 20;
  position: relative;
  top: -2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  /* background-color: #224361; */
  background-color: #be332d;
}

.submit-arrow {
  font-size: 0.8rem;
}

/* ---------------------------- FOOTER SECTION ---------------------------- */
#footer-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.875rem;
  grid-row-gap: 0.875rem;
  position: relative;
  height: auto;
  width: 100%;
  padding: 1.75rem 3.5rem;
  background-color: white;
}

.footer-tile {
  grid-column: span 1;
  height: auto;
  color: black;
}

.footer-tile-header {
  margin-bottom: 0.875rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: black;
}

.footer-tile-list-item {
  margin-bottom: 0.4375rem;
  padding-left: 0.2rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.6rem;
  font-weight: 300;
}

/* --------------------------- COPYRIGHT SECTION --------------------------- */
#copyright-section-container {
  position: relative;
  height: auto;
  width: 100%;
  padding: 0.875rem;
  text-align: center;
  background-color: black;
}

#copyright-text {
  font-family: "Montserrat", sans-serif;
  font-size: 0.5rem;
  font-weight: 400;
  color: white;
}

/* -------------------------- MEDIA QUERY <= 1000 -------------------------- */
@media screen and (max-width: 1000px) {
  :root {
    font-size: 20px;
  }
}
/* -------------------------- MEDIA QUERY <= 800 -------------------------- */
@media screen and (max-width: 800px) {
  #navbar-logo {
    left: 0;
    right: 0;
    margin: auto;
    /* border-left: 1px solid $medium-gray; */
    border-right: none;
  }

  #navbar-top {
    height: 3.25rem;
  }

  #hamburger-menu {
    display: block;
    z-index: 30;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.875rem;
    width: 27px;
    /* cursor: pointer; */
  }

  .hamburger-bar {
    position: relative;
    left: 0;
    right: 0;
    width: 25px;
    height: 2px;
    margin: 6px auto;
    color: black;
    border-radius: 10px;
    background-color: black;
    /* cursor: pointer;
    transition: transform 300ms ease-in-out, width 300ms ease-in-out, opacity 300ms ease-in-out; */
  }

  #nav-link-list-top {
    right: 0.875rem;
  }

  #login-icon {
    transform: translateY(0);
    font-size: 1rem;
  }

  #cart-icon {
    transform: translateY(0);
    font-size: 1rem;
  }

  .nav-link {
    display: none;
  }

  #navbar-bottom {
    display: none;
  }

  .category-tile-title {
    left: 0.4375rem;
    writing-mode: tb-rl;
    text-orientation: upright;
    letter-spacing: normal;
  }

  #category-section-container {
    grid-column-gap: 2px;
    padding: 1.75rem 1.75rem;
  }

  #campaign-section-container {
    height: 40rem;
  }

  .campaign-tile {
    grid-column: span 2;
  }

  #feature-section-container {
    padding: 0 1.75rem;
  }

  #register-text {
    grid-column: span 5;
  }

  #register-email-container {
    grid-column: span 5;
  }

  #footer-section-container {
    padding: 1.75rem;
  }

  .footer-tile {
    grid-column: span 3;
  }
}
/* -------------------------- MEDIA QUERY <= 600 -------------------------- */
@media screen and (max-width: 600px) {
  #hamburger-menu {
    left: 0.4375rem;
  }

  #nav-link-list-top {
    right: 0.4375rem;
  }

  #home-promotion-container {
    padding: 0.875rem;
  }

  #home-promotion-top {
    font-size: 1.8rem;
  }

  #home-promotion-bottom {
    font-size: 1.125rem;
  }
}
/* -------------------------- MEDIA QUERY <= 450 -------------------------- */
@media screen and (max-width: 450px) {
  #register-text {
    white-space: normal;
  }

  .register-text-grouped {
    white-space: nowrap;
  }
}
/* -------------------------- MEDIA QUERY <= 350 -------------------------- */
@media screen and (max-width: 350px) {
  #promotion-text-grouped {
    white-space: normal;
  }
}

/*# sourceMappingURL=main-style.css.map */
