@import "helpers/variables";
@import "helpers/colors";
@import "helpers/placeholder-classes";



:root {
  font-size: 24px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  cursor: default;
}

body {
  height: 1200px;

  background-color: #1d1f21;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button {
  background-image: none;
  border: none;
  outline: none;

  cursor: pointer;
}

.button-arrow {
  margin-left: 0.4rem;
  font-size: $font-icon;
}

a {
  text-decoration: none;
}

a:visited, a:hover, a:active {
  color: inherit;
}

i {
  cursor: pointer;
}

#body-mask {
  z-index: 0;
  position: fixed;
  top: 0;

  width: 100%;
  min-height: 100%;

  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.0;

  transition: opacity 300ms ease-in-out;
}

.body-mask-fade {
  opacity: 1.0 !important;
}



/* -------------------------------- NAVBAR -------------------------------- */
.nav-link {
  display: inline-block;

  color: black;

  cursor: pointer;

  transition: color 150ms ease-in-out;
}

.nav-link-hovered {
  color: $light-gray !important;
}

.nav-link-icon-hovered {
  background-color: $light-gray !important;
}

.nav-link-button {
  display: inline-block;

  color: black;

  cursor: pointer;

  transition: color 150ms ease-in-out;
}

.nav-link-button-text {
  display: inline-block;

  cursor: pointer;
}

#navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 200;
  position: fixed;
  top: 0;

  width: 6.5rem;
  height: 3.25rem;
  padding: 0px $margin-main;

  font-family: serif;
  font-size: 1.8rem;
  color: black;

  background-color: white;
  border-right: 1px solid $medium-gray;
  border-bottom: 1px solid $medium-gray;

  -webkit-user-select: none;
  user-select: none;
}

#navbar-top {
  z-index: 150;
  position: fixed;
  top: 0;

  width: 100%;
  height: 1.25rem;
  padding: 0px $margin-main;

  background-color: white;
  border-bottom: 1px solid $medium-gray;

  -webkit-user-select: none;
  user-select: none;
}

#hamburger-menu {
  display: none;
}

#nav-link-list-top {
  position: absolute;
  @extend %vertical-centered;
  right: $margin-main;

  width: auto;

  font-family: $font-stack-secondary;
  font-size: 0.5rem;
  font-weight: $font-secondary-light;
  text-transform: uppercase;
  color: black;
}

.nav-link-top-margin {
  margin-right: $margin-sm;
}

#search-icon-dropdown {
  display: none;
}

#login-icon {
  position: relative;
  transform: translateY(-6%);

  font-size: $font-icon;
}

#cart-icon {
  position: relative;
  transform: translateY(-6%);

  font-size: $font-icon;
}

#navbar-bottom {
  z-index: 150;
  position: fixed;
  top: 1.25rem;

  width: 100%;
  height: 2rem;

  padding-left: $margin-sm + 6.5;

  background-color: white;
  border-bottom: 1px solid $medium-gray;

  -webkit-user-select: none;
  user-select: none;
}

#nav-link-list-bottom {
  position: absolute;
  @extend %vertical-centered;

  font-family: $font-stack-main;
  font-size: $font-sm;
  font-weight: $font-main-normal;
  text-transform: uppercase;
  color: black;
}

.nav-link-bottom-margin {
  margin-right: $margin-x-sm;
}

#search-bar-container {
  position: absolute;
  right: $margin-main;

  width: 25%;
  height: 100%;
}

#search-icon {
  position: relative;
  left: 0.2em;
  transform: translateY(40%);

  font-size: $font-icon;
}

#search-bar {
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  position: absolute;
  @extend %vertical-centered;

  width: 100%;
  height: 1.25rem;
  padding-left: 1.15rem;

  font-family: $font-stack-main;
  font-size: $font-sm;
  font-weight: $font-main-normal;

  border: none;
  border: 1px solid $medium-gray;
  outline: none;

  cursor: text;
}

#navbar-placeholder {
  z-index: 10;
  position: relative;
  top: 0;

  width: 100%;
  height: 3.25rem;

  background-color: white;
  border-bottom: 1px solid white;
}

#navbar-dropdown {
  display: none;

  z-index: 150;
  position: fixed;

  width: 8rem;
  height: 100%;

  background-color: white;
  border-right: 1px solid $medium-gray;
}

#nav-link-list-dropdown {
  position: absolute;
  top: $margin-sm;

  width: 100%;

  font-family: $font-stack-main;
  font-size: $font-sm;
  font-weight: $font-main-normal;
  text-transform: uppercase;
  color: black;
}

#nav-link-list-dropdown > li {
  margin-bottom: $margin-x-sm;
}

.nav-link-dropdown {
  display: inline-block;

  margin-left: $margin-sm;

  color: black;

  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;

  transition: color 150ms ease-in-out;
}

#login-button-dropdown {
  display: flex;
  align-items: center;

  position: absolute;
  top: 20rem;

  width: 100%;
  height: 2rem;
  margin-top: -1px;
  padding-left: $margin-sm;

  font-family: $font-stack-main;
  font-size: $font-sm;
  font-weight: $font-main-normal;
  text-transform: uppercase;

  border-top: 1px solid $medium-gray;
  border-bottom: 1px solid $medium-gray;
}

#login-icon-dropdown {
  position: absolute;
  right: 0;

  font-size: 1rem;
}

#search-dropdown {
  display: none;

  z-index: 50;
  position: fixed;
  top: 3.25rem;

  width: 100%;
  height: 2rem;

  background-color: white;
  border-bottom: 1px solid $medium-gray;
}

#search-bar-dropdown {
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  position: absolute;
  @extend %vertical-centered;

  width: 100%;
  height: 100%;

  padding-left: $margin-main + $margin-sm;
  padding-right: $margin-sm;

  font-family: $font-stack-main;
  font-size: $font-sm;
  font-weight: $font-main-normal;

  border: none;
  outline: none;

  cursor: text;
}

#search-icon-dropdown-inner {
  position: absolute;
  @extend %vertical-centered;
  left: $margin-sm;

  width: 27px;

  font-size: 1rem;
  text-align: center;
  color: black;
}

#login-dropdown {
  z-index: 0;
  position: fixed;
  top: 7.25rem;
  left: 0;
  right: 0;

  width: 14rem;
  height: 16rem;
  padding: $margin-main;
  padding-bottom: none;
  margin: auto;

  background-color: rgba(255, 255, 255, 1.0);
  border: 1px solid $medium-gray;
  opacity: 0.0;

  transition: opacity 300ms ease-in-out;
}

#login-exit-button {
  display: flex;
  justify-content: center;

  position: absolute;
  top: -0.5rem;
  right: -0.5rem;

  width: 1rem;
  height: 1rem;
  padding-top: 1px;

  font-family: $font-stack-main;
  font-size: $font-sm;
  font-weight: $font-main-light;
  color: black;

  background-color: $light-gray;
  border-radius: 100%;
  border: 1px solid $medium-gray;

  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.login-header {
  margin-left: -$margin-sm;
  margin-bottom: $margin-x-sm;

  font-family: $font-stack-main;
  font-size: $font-icon;
  font-weight: $font-main-normal;
  text-transform: uppercase;
}

.login-input {
  width: 100%;
  height: 1.25rem;
  padding-left: 0.2rem;
  margin-bottom: $margin-sm;

  font-family: $font-stack-main;
  font-size: $font-sm;
  font-weight: $font-main-light;

  cursor: text;
}

#forgot-password-link {
  margin-top: -$margin-x-sm;
  margin-right: -$margin-sm;

  text-align: right;
  font-family: $font-stack-secondary;
  font-size: $font-sm;
  font-weight: $font-secondary-light;
  color: black;
}

#login-user-submit {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: $margin-main;
  left: 0;
  right: 0;

  width: 6.5rem;
  height: 2rem;
  margin: auto;

  font-family: $font-stack-secondary;
  font-size: 0.7rem;
  font-weight: $font-secondary-light;
  text-transform: uppercase;
  color: white;

  background-color: black;
}

#register-new-user-text {
  position: absolute;
  bottom: $margin-x-sm;
  left: 0;
  right: 0;

  width: auto;
  margin: auto;

  text-align: center;
  font-family: $font-stack-secondary;
  font-size: $font-sm;
  font-weight: $font-secondary-light;
  color: black;
}

.login-link {
  cursor: pointer;

  color: #0000EE !important;
}



/* ---------------------------- BANNER SECTION ---------------------------- */
#home-banner-section-container {
  z-index: 20;
  position: relative;

  width: 100%;
  height: $section-height-lg;

  text-align: center;
}

.banner-page-img {
  z-index: 0;
  position: absolute;
  top: 0;

  width: 100%;
  height: $section-height-lg;

  background-color: lightGray;
  background-size: cover;

  transition: opacity 750ms ease-in-out;
}

#banner-page-img-left {
  background-image: url("../images/shoe-pennyboard.jpg");
  background-position: center 35%;
}

#banner-page-img-center {
  background-image: url("../images/shoe-track.jpg");
  background-position: center 85%;
}

#banner-page-img-right {
  background-image: url("../images/shoe-fog.jpg");
  background-position: center 35%;
}

.banner-fade-in {
  opacity: 1;
}

.banner-fade-out {
  opacity: 0;
}

#home-promotion-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;

  margin: auto;
  padding: $margin-main;

  color: white;
}

#home-promotion-top {
  font-family: $font-stack-main;
  font-size: 2rem;
  font-weight: $font-main-bold;
  text-transform: uppercase;
  text-shadow: 0rem 0rem 0.25rem black;
}

#promotion-text-grouped {
  white-space: nowrap;
}

#home-promotion-bottom {
  padding: 0px $margin-sm;

  font-family: $font-stack-secondary;
  font-size: $font-h2;
  font-weight: $font-secondary-normal;
  text-shadow: 0rem 0.0rem 0.1rem black;
}

#home-banner-page-select {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;

  width: 100%;
  height: auto;
  margin-bottom: $margin-main;
}

.banner-page-circle-outer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;

  border: 1px solid white;
  border-radius: 100%;

  cursor: pointer;
}

#banner-page-circle-center {
  margin: 0 0.2rem;
}

.banner-page-circle-inner {
  width: 14px;
  height: 14px;

  border-radius: 100%;

  cursor: pointer;
}



/* --------------------------- CATEGORY SECTION --------------------------- */
#category-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: $margin-main;
  grid-row-gap: $margin-sm;

  position: relative;

  width: 100%;
  height: $section-height-lg;
  padding: $margin-main $margin-lg;

  background-color: white;
}

.category-tile {
  grid-column: span 1;

  height: 100%;

  background-size: cover;
  background-position: center;
  background-color: lightGray;
}

.category-tile-title {
  display: inline-block;

  position: relative;
  top: -15.6rem;
  left: $margin-sm;

  font-family: $font-stack-main;
  font-size: $font-icon;
  font-weight: $font-main-normal;
  text-transform: uppercase;
  text-shadow: 0 0 0.1rem black;
  letter-spacing: 0.2rem;
  color: white;

  -webkit-user-select: none;
  user-select: none;
}

#category-tile-men {
  background-image: url("../images/male-model-crop-top.png");
}

#category-tile-women {
  background-image: url("../images/female-model-crop-top.png");
  background-position: 25% center;
}

#category-tile-children {
  background-image: url("../images/child-model.jpg");
}

.category-tile-mask {
  z-index: 10;
  position: relative;

  width: 100%;
  height: 100%;

  background-color: white;
  opacity: 0.0;

  cursor: pointer;

  transition: opacity 300ms ease-in-out;
}

.category-tile-mask-fade {
  opacity: 0.5;
}



/* --------------------------- CAMPAIGN SECTION --------------------------- */
#campaign-section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;

  position: relative;

  height: $section-height-lg;
  width: 100%;

  background-color: white;
}

.campaign-tile {
  display: flex;
  grid-column: span 1;
  justify-content: flex-start;

  height: auto;
  padding: 0 $margin-sm;

  background-color: lightGray;
}

.campaign-tile-inner {
  position: relative;
  top: auto;
  bottom: 0;

  width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: $margin-lg;

  text-align: center;
}

#campaign-tile-one {
  background-image: url("../images/shoe-graffiti-close.jpg");
  background-size: cover;
  background-position: center bottom;
}

#campaign-tile-two {
  background-image: url("../images/shoe-blur-close.jpg");
  background-size: cover;
  background-position: center bottom;
}

.campaign-tile-header {
  font-family: $font-stack-main;
  font-size: $font-h2;
  font-weight: $font-main-bold;
  text-transform: uppercase;
  text-shadow: 0 0 0.15rem black;
  color: white;
}

.campaign-tile-sub-header {
  margin-bottom: $margin-sm;

  font-family: $font-stack-secondary;
  font-size: $font-icon;
  font-weight: $font-secondary-light;
  text-shadow: 0 0 0.1rem black;
  color: white;
}

.campaign-button {
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
  position: relative;
  left: 0;
  right: 0;

  width: 6.5rem;
  height: 2rem;
  margin: auto;

  font-family: $font-stack-secondary;
  font-size: 0.7rem;
  font-weight: $font-secondary-light;
  text-transform: uppercase;
  color: white;

  background-color: black;
  border: 1px solid white;

  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  transition: transform 150ms ease-in-out;
}

.campaign-button:active {
  transform: translate(5px, 5px);
}

.campaign-button-shadow {
  position: absolute;
  top: auto;
  bottom: -5px;
  left: 10px;
  right: 0;

  width: 6.5rem;
  height: 2rem;
  margin: auto;

  border: 1px solid white;
}



/* ------------------------- POPULAR ITEM SECTION ------------------------- */
#popular-item-section-container {
  position: relative;

  width: 100%;
  height: auto;
  padding: $margin-main;

  background-color: white;

  overflow-x: hidden;
}

#popular-item-carousel {
  display: flex;
  align-items: center;

  width: 300%;
  height: auto;
  padding: 0px $margin-main;
  padding-right: $margin-sm * 8;

  overflow-x: hidden;
}

#popular-item-header {
  margin-bottom: $margin-sm;

  font-family: $font-stack-main;
  font-size: $font-h2;
  font-weight: $font-main-normal;
  text-align: center;
  text-transform: uppercase;
  color: black;

  /* border: 1px solid red; */
}

#popular-item-carousel-inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: $margin-sm;

  position: relative;

  width: 100%;
  height: 11rem;

  /* border: 1px solid red; */

  overflow-x: hidden;
}

.carousel-animation {
  transition: transform 450ms ease-out;
}

.carousel-mask {
  z-index: 30;
  position: absolute;
  top: 0;

  width: 3rem;
  height: 100%;

  background-color: white;
}

#carousel-mask-left {
  left: 0;
}

#carousel-mask-right {
  right: 0;
}

.carousel-arrow {
  z-index: 40;
  position: absolute;

  font-size: 1rem;

  cursor: pointer;
}

#arrow-left-icon {
  left: $margin-main;
}

#arrow-right-icon {
  right: $margin-main;
}

.carousel-tile {
  grid-column: span 1;

  height: 100%;

  font-family: $font-stack-secondary;
  font-size: 2rem;
  font-weight: $font-secondary-light;

  border: 1px solid $medium-gray;

  cursor: pointer;

  transition: border-color 300ms ease-in-out;
}

.carousel-tile-hovered {
  border-color: black;
}

.carousel-tile-top {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 65%;

  background-size: cover;
  background-color: $light-gray;

  cursor: pointer;
}

.carousel-tile-top-men {
  background-position: 58% top;
  background-image: url("../images/carousel-shoe-men.jpg");
}

.carousel-tile-top-women {
  background-position: 55% top;
  background-image: url("../images/carousel-shoe-women.jpg");
}

.carousel-tile-top-children {
  background-position: 49% top;
  background-image: url("../images/carousel-shoe-children.jpg");
}

.carousel-tile-bottom {
  width: 100%;
  height: 35%;

  background-color: white;

  cursor: pointer;
}

.carousel-item-type {
  padding-top: $margin-x-sm;
  padding-left: $margin-x-sm;

  font-size: $font-icon;
  font-weight: $font-secondary-light;
  color: $medium-gray;

  cursor: pointer;
}

.carousel-item-name {
  padding-left: $margin-x-sm;

  font-size: $font-icon;
  font-weight: $font-secondary-light;

  cursor: pointer;
}

.carousel-item-price {
  padding-left: $margin-x-sm;

  font-size: 1rem;
  font-weight: $font-secondary-normal;

  cursor: pointer;
}

.caro-page-ellipsis {
  position: absolute;
  bottom: $margin-main;

  width: 1rem;
  margin: auto;

  font-family: $font-stack-secondary;
  font-size: $font-icon;
  font-weight: $font-secondary-light;
  text-align: center;
  color: $medium-gray;

  -webkit-user-select: none;
  user-select: none;
}

#caro-page-ellipsis-left {
  display: none;

  left: 0;
  right: 4rem;
}

#caro-page-ellipsis-right {
  display: none;

  left: 4rem;
  right: 0;
}

#popular-item-page-select {
  position: relative;
  left: 0;
  right: 0;

  width: 5rem;
  margin: auto;
  margin-top: $margin-sm;

  font-family: $font-stack-secondary;
  font-size: $font-icon;
  text-align: center;
  letter-spacing: 2px;

  // border: 1px solid red;

  -webkit-user-select: none;
  user-select: none;
}

.popular-item-page-number {
  display: inline-block;

  font-weight: $font-secondary-light;
  color: $medium-gray;

  cursor: pointer;
}

.popular-item-page-selected {
  font-weight: $font-secondary-normal;
  color: black;
}

#caro-page-num-4 {
  display: none;
}

#caro-page-num-5 {
  display: none;
}

#caro-page-num-6 {
  display: none;
}

#caro-page-num-7 {
  display: none;
}

#caro-page-num-8 {
  display: none;
}

#caro-page-num-9 {
  display: none;
}

#caro-page-num-10 {
  display: none;
}

#caro-page-num-11 {
  display: none;
}

#caro-page-num-12 {
  display: none;
}



/* ---------------------------- FEATURE SECTION ---------------------------- */
#feature-section-container {
  z-index: -1;
  position: relative;

  height: $section-height-lg;
  width: 100%;
  padding: 0 $margin-lg;

  background-color: white;
  background-image: url("../images/shoe-urban.jpg");
  background-size: cover;
  background-position: center 70%;
}

#feature-tile {
  display: flex;
  align-items: center;

  height: 100%;
}

#feature-tile-header {
  font-family: $font-stack-main;
  font-size: $font-h2;
  font-weight: $font-main-bold;
  text-transform: uppercase;
  text-shadow: 0 0 0.15rem black;
  color: white;
}

#feature-tile-sub-header {
  width: 378px;
  margin-bottom: $margin-sm;

  font-family: $font-stack-secondary;
  font-size: $font-icon;
  font-weight: $font-secondary-light;
  text-shadow: 0 0 0.1rem black;
  color: white;
}

.feature-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 6.5rem;
  height: 2rem;
  margin-bottom: -2rem;

  font-family: $font-stack-secondary;
  font-size: 0.7rem;
  font-weight: $font-secondary-light;
  text-transform: uppercase;
  color: white;

  background-color: black;
  border: 1px solid white;

  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  transition: transform 150ms ease-in-out;
}

.feature-button:active {
  transform: translate(5px, 5px);
}

#feature-button-bottom {
  margin-top: $margin-sm;
}

.feature-button-shadow {
  z-index: -1;
  position: relative;
  top: 5px;
  left: 5px;

  width: 6.5rem;
  height: 2rem;

  border: 1px solid white;
}





/* --------------------------- REGISTER SECTION --------------------------- */
#register-section-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: $margin-sm;

  height: auto;
  width: 100%;
  padding: $margin-main;

  background-color: black;
}

#register-text {
  grid-column: span 3;

  height: auto;

  font-family: $font-stack-main;
  font-size: 1rem;
  font-weight: $font-main-bold;
  color: white;

  white-space: pre;
}

#register-discount {
  color: $discount-red;
}

#register-email-container {
  grid-column: span 2;

  height: 2.5rem;

  text-align: right;
}

#register-email-input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  display: block;

  width: 100%;
  height: 2.5rem;
  padding-left: 1.15rem;
  padding-right: 3.55rem;

  font-family: $font-stack-secondary;
  font-size: $font-icon;
  font-weight: $font-secondary-light;

  border: none;
  outline: none;

  cursor: text;
}

#register-email-submit {
  z-index: 20;
  position: relative;
  top: -2.5rem;

  width: 2.5rem;
  height: 2.5rem;

  color: white;

  /* background-color: #224361; */
  background-color: $discount-red;
}

.submit-arrow {
  font-size: $font-icon;
}



/* ---------------------------- FOOTER SECTION ---------------------------- */
#footer-section-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: $margin-sm;
  grid-row-gap: $margin-sm;

  position: relative;

  height: auto;
  width: 100%;
  padding: $margin-main $margin-lg;

  background-color: white;
}

.footer-tile {
  grid-column: span 1;

  height: auto;

  color: black;
}

.footer-tile-header {
  margin-bottom: $margin-sm;

  font-family: $font-stack-main;
  font-size: $font-icon;
  font-weight: $font-main-bold;
  color: black;
}

.footer-tile-list > li {
  margin-bottom: $margin-x-sm;
  padding-left: 0.2rem;

  font-family: $font-stack-secondary;
  font-size: $font-sm;
  font-weight: $font-secondary-light;
}

.footer-tile-list-item {
  display: inline-block;

  color: black;

  cursor: pointer;

  transition: color 150ms ease-in-out;
}

#footer-tile-social-list {
  padding-left: 0.2rem;
}

.footer-tile-social-icon {
  display: inline-block;

  position: relative;
  top: -0.35rem;

  font-size: $font-sm;
}





/* --------------------------- COPYRIGHT SECTION --------------------------- */
#copyright-section-container {
  position: relative;

  height: auto;
  width: 100%;
  padding: $margin-sm;

  text-align: center;

  background-color: black;
}

#copyright-text {
  font-family: $font-stack-main;
  font-size: 0.5rem;
  font-weight: $font-main-normal;
  color: white;
}





/* -------------------------- MEDIA QUERY <= 1000 -------------------------- */
@media screen and (max-width: 1000px) {

/* ~~~~~~~~~~~~~ ROOT ~~~~~~~~~~~~~ */
  :root {
    font-size: 20px;
  }

  #search-bar {
    position: absolute;

    height: 26px;
  }

/* ~~~~~~~~ BANNER SECTION ~~~~~~~~ */
  .banner-page-circle-outer {
    height: 18px;
    width: 18px;
  }

  .banner-page-circle-inner {
    height: 12px;
    width: 12px;
  }

/* ~~~~~~~ FEATURE SECTION ~~~~~~~ */
  #feature-tile-sub-header {
    width: 316px;
  }
}



/* -------------------------- MEDIA QUERY <= 900 -------------------------- */
@media screen and (max-width: 900px) {

/* ~~~~~~~~ FOOTER SECTION ~~~~~~~~ */
  .footer-tile {
    grid-column: span 2;
  }
}



/* -------------------------- MEDIA QUERY >= 801 -------------------------- */
@media screen and (min-width: 801px) {

/* ~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~ */
  #navbar-dropdown {
    display: none !important;
  }

  #search-dropdown {
    display: none !important;
  }
}



/* -------------------------- MEDIA QUERY <= 800 -------------------------- */
@media screen and (max-width: 800px) {

/* ~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~ */
  #navbar-logo {
    left: 0;
    right: 0;

    margin: auto;

    /* border-left: 1px solid $medium-gray; */
    border-right: none;
  }

  #navbar-top {
    height: 3.25rem;
  }

  #hamburger-menu {
    display: block;

    z-index: 30;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: $margin-sm;

    width: 27px;

    cursor: pointer;
  }

  .hamburger-bar {
    position: relative;
    left: 0;
    right: 0;

    width: 25px;
    height: 2px;
    margin: 6px auto;

    border-radius: 10px;
    background-color: black;

    cursor: pointer;

    transition: background-color 150ms ease-in-out;
  }

  #nav-link-list-top {
    right: $margin-sm;
  }

  #search-icon-dropdown {
    display: inline-block;

    font-size: 1rem;

    transition: color 150ms ease-in-out;
  }

  #login-icon {
    display: none;
  }

  #cart-icon {
    transform: translateY(0);

    font-size: 1rem;
  }

  .nav-link {
    display: none;
  }

  .nav-link-button-text {
    display: none;
  }

  #navbar-bottom {
    display: none;
  }

/* ~~~~~~~ CATEGORY SECTION ~~~~~~~ */
  .category-tile-title {
    left: $margin-x-sm;

    writing-mode: tb-rl;
    text-orientation: upright;
    letter-spacing: normal;
  }

  #category-section-container {
    grid-column-gap: $margin-sm;

    padding: $margin-main $margin-main;
  }

/* ~~~~~~~ CAMPAIGN SECTION ~~~~~~~ */
  #campaign-section-container {
    height: 28rem;
  }

  .campaign-tile {
    grid-column: span 2;
  }

  #campaign-tile-one {
    background-position: center 85%;
  }

  #campaign-tile-two {
    background-position: center 90%;
  }

/* ~~~~~ POPULAR ITEM SECTION ~~~~~ */
  #popular-item-carousel {
    width: 400%;
    padding-right: $margin-sm * 11;
  }

  #caro-page-num-4 {
    display: inline-block;
  }

/* ~~~~~~~ REGISTER SECTION ~~~~~~~ */
  #register-text {
    grid-column: span 5;
  }

  #register-email-container {
    grid-column: span 5;
  }
}



/* -------------------------- MEDIA QUERY <= 600 -------------------------- */
@media screen and (max-width: 600px) {

/* ~~~~~~~~ BANNER SECTION ~~~~~~~~ */
  #home-promotion-container {
    padding: $margin-sm;
  }

  #home-promotion-top {
    font-size: 1.8rem;
  }

  #home-promotion-bottom {
    font-size: 1.125rem;
  }

  .banner-page-circle-outer {
    height: 16px;
    width: 16px;
  }

  .banner-page-circle-inner {
    height: 10px;
    width: 10px;
  }

/* ~~~~~~~ CATEGORY SECTION ~~~~~~~ */
  #category-section-container {
    grid-column-gap: 2px;

    padding: $margin-main $margin-sm;
  }

/* ~~~~~ POPULAR ITEM SECTION ~~~~~ */
  #popular-item-carousel {
    padding: 0px $margin-sm;

    width: 600%;
    padding-right: $margin-sm * 6;
  }

  #campaign-tile-one {
    background-position: center bottom;
  }

  #campaign-tile-two {
    background-position: center bottom;
  }

  .carousel-animation {
    transition: transform 300ms ease-out;
  }

  .carousel-mask {
    width: 2rem;
  }

  #arrow-left-icon {
    left: $margin-sm;
  }

  #arrow-right-icon {
    right: $margin-sm;
  }

  #caro-page-num-4 {
    display: none;
  }

  #caro-page-ellipsis-right {
    display: block;
  }

/* ~~~~~~~ FEATURE SECTION ~~~~~~~ */
  #feature-section-container {
    padding: 0 $margin-main;
  }

  #register-section-container {
    padding: $margin-main $margin-sm;
  }

/* ~~~~~~~~ FOOTER SECTION ~~~~~~~~ */
  #footer-section-container {
    padding: $margin-main;
  }

  .footer-tile {
    grid-column: span 4;
  }
}



/* -------------------------- MEDIA QUERY <= 418 -------------------------- */
@media screen and (max-width: 418px) {

/* ~~~~~~~ REGISTER SECTION ~~~~~~~ */
  #register-text {
    white-space: normal;
  }

  .register-text-grouped {
    white-space: nowrap;
  }
}



/* -------------------------- MEDIA QUERY <= 401 -------------------------- */
@media screen and (max-width: 401px) {

/* ~~~~~~~ FEATURE SECTION ~~~~~~~ */
  #feature-tile-sub-header {
    width: 188px;
  }

/* ~~~~~ POPULAR ITEM SECTION ~~~~~ */
  #popular-item-carousel {
    width: 1200%;
    padding-right: $margin-sm * 12;
  }

  .carousel-animation {
    transition: transform 150ms ease-out;
  }
}



/* -------------------------- MEDIA QUERY <= 350 -------------------------- */
@media screen and (max-width: 350px) {

/* ~~~~~~~~ BANNER SECTION ~~~~~~~~ */
  #promotion-text-grouped {
    white-space: normal;
  }
}
